@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  text-decoration: none;
}

html, body{
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.2em;
	font-size: 0.98em;  
  /*min-height: 100%;*/
} 

/* === Wrapper  ===*/
.wrapper{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav-bar"
    "box"
    "footer";
}

/* === Nav Bab  ===*/
.nav-bar{
  grid-area: nav-bar;
  height: 70px;
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.brand{
  font-size: 2.3em;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 10px 10px;
  line-height: 1.42857;
  color: #222;
  text-align: center;
}

.box-wrapper{
  height: 630px;
  position: relative;  
}


/* === Contact form ===*/ 
.box{
  grid-area: box;
  position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background-color: #FFF;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
	/* box-shadow: 0 30px 20px rgba(0,0,0,.2); */
	box-shadow: 0 3px 60px rgba(57,73,76,0.35);
  
}

.box h2{
	margin: 0 0 40px;
	padding: 0;
	color: #222;
	text-transform: uppercase;
	text-align: center;
}

.box input{
	padding: 10px 0;
	margin-bottom: 30px;
}

.box textarea{
	height: 80px;
	padding: 10px 0;
	margin-bottom: 40px;
}

.box input, .box textarea {
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #999;
}
.box textarea{	
	margin-bottom: 20px;
}

.box input[type="submit"]{
  font-size: 1.1em;
	border-bottom: none;
	cursor: pointer;
  background: #274e89;
	color: #FFF;
	margin-bottom: 0;
	text-transform: uppercase;
	border-radius: 25px;
}

.box form div{
	position: relative;
}

.box form .field-group {
    display: flex;
}

@media only screen and (max-width: 600px) {
  .box form .field-group {
    display: block;
	}
}

.box form div label {
	color: #999;
	pointer-events: none;
	transition: .5s;
}

.box input:focus ~ label, .box textarea:focus ~ label, 
.box input:valid ~ label, .box textarea:valid ~ label {
	top: -12px;
	left: 0;
  color: #274e89;
	font-size: 1em;
	font-weight: bold;
}

.box input:focus ~ label, .box textarea:focus ~ label, 
.box input:valid, .box textarea:valid {
  border-bottom: 2px solid #264887;
}

/* ==== Footer ==== */

.footer{
  grid-area: footer;
  height: 80px;
  background-color: #999898;
}

.copyright{
  text-align: center;
  line-height: 32px;
  margin-top: 2px;
  margin-bottom: 0;
  color: #e0e0e0;
}

ul{
  text-align: center;
}

ul > li{
  display: inline-block;
  font-size: 1.9em;
  color: #e0e0e0;
  padding: 2px 12px;
}

#message button {
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    background: #2b761d;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px 0;
    width: 100%;
}

#airplane {
  bottom: 15%;
  position: absolute;
  top: 100px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: fly;
  -webkit-animation-duration: 5s;
}
@-webkit-keyframes fly {
  from {left: 0px;}
  to {left: calc(100vw - 120px);}
}